@import '~antd/dist/antd.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body,
.container{
  height:100%;
  width:1010px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  top:30px;

}

.loader{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movies{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left:40px;
  padding-top: 40px;
  width: 50%;
  position: relative;
  left:20%;
}

.movies .movie{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  height: 281px;
  width: 450px;
}
.movie img{
  position: relative;
  max-width: 183px;
  height: 281px;
  top: -20px;
  left: -20px;
}
.movie .movie__title
{
  font-weight: 600;
  margin-top: -10px;
}
.movie .movie__year{
  font-weight: 300;
  color: gray;
  margin-top: -10px;
}
.movie .movie__summary{
font-size: 14px;
}
.movie .movie__genres{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}
.movie .movie__genres li {
  margin-left: 10px;
  left: -50px;
  position: relative;
  border:1px solid darkgrey;
  border-radius: 2px;
  background-color:#FAFAFA;
  padding: 2px;
}
@keyframes ldio-966kyf84h18 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-966kyf84h18 div {
  position: absolute;
  width: 162px;
  height: 162px;
  border: 27px solid #42f3f1;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-966kyf84h18 div {
  animation: ldio-966kyf84h18 1s linear infinite;
  top: 135px;
  left: 137px;
}
.loadingio-spinner-rolling-y3dtl68o7b {
  width: 270px;
  height: 270px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-966kyf84h18 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-966kyf84h18 div { box-sizing: content-box; }

.searcher{
  position: relative;
  width: 955px;
  height: 40px;
  background-color: darksalmon;
  left: 240px;
}
.ant-tabs-nav-wrap{
  left:400px;
}
.ant-tabs-nav{
  left:200px;
}